img{
    border-radius: 5px;    
    padding-left: 10px;
    padding-right: 10px;
}
.col-md-3{
    margin: 10px !important;
}
p{
    font-weight: bolder;
    font-size: 20px;
}
#navbar{
    background-color: black;

}
li{
    color: white;
    list-style-type: none;
    display: inline;
    margin-left: 10px;
    cursor: pointer;
}

#title{
    font-size: 30px;
    margin-right: 850px;
}